    <!-- About Section -->
    <section id="pricing" class="container content-section section-about">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
              <h2>Questions and Answers</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <h3>What makes Viralget different</h3>
              <p>Other viral campaign tools are not customizable. Viralget brings you the complete power over templates.</p>
              <p>Emails are only branded by you. Nothing interferes with your brand.</p>
              
              
              <h3>Why is it so expensive?</h3>
              <p>The server licence is more expensive than a monthly installed SaaS - but it's only a one-time fee.</p>
              <h3>Why is it so cheap?</h3>
              <p>We offer a fair deal. The software is not complex, but much more than a normal person could develop by himself.</p>
            </div>
            <div class="col-lg-6">
              <h3>What software platform do you use?</h3>
              Laravel 5, digital ocean servers and postmark
            
              <h3>Who is behind Viralget?</h3>
              <p>We built Viralget after needing the software for one project. We believe that this simple concept should be available to everyone.</p>
              <div class="row text-center">
                  <div class="col-lg-4">
                    <img class="" width="100" src="img/till.jpg" alt="Till" />
                    <h3>Till</h3>
                    Sales
                  </div>
                  <div class="col-md-4">
                    <img class=""  width="100" src="img/jeteon.jpg" alt="Neo" />
                    <h3>Neo</h3>
                    Development
                  </div>
              </div>
            
            </div>
        </div>

        
    </section>
