    <!-- About Section -->
    <section id="pricing" class="container content-section section-about">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
              <h2>Questions and Answers</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <h3>What makes Viralget different</h3>
              <p>Other viral campaign tools are not customizable. Viralget brings you the complete power over templates.</p>
              <p>Emails are only branded by you. Nothing interferes with your brand.</p>
              
              
              <h3>Why is it so expensive?</h3>
              <p>The server licence is more expensive than a monthly installed SaaS - but it's only a one-time fee.</p>
            </div>
            <div class="col-lg-6">
              <h3>What software platform do you use?</h3>
              Laravel 5, digital ocean servers and postmark
            
            <h3>Why is it so cheap?</h3>
            <p>We offer a fair deal. The software is not complex, but much more than a normal person could develop by himself.</p>
            
            
            </div>
        </div>

        
    </section>
