<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                  <li>
                    <a class="page-scroll" href="#why">Why</a>
                </li>            
                <li class="footer-menu-divider">&sdot;</li>
                <li>
                    <a class="page-scroll" href="#how">How it works</a>
                </li>
                <li class="footer-menu-divider">&sdot;</li>
                <li>
                    <a class="page-scroll" href="#pricing">Pricing</a>
                </li>
                <li class="footer-menu-divider">&sdot;</li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
                <p class="copyright text-muted small">Copyright &copy; {{ site.title }} All Rights Reserved.  <a href="http://www.tielefeld.com/impressum">Impressum</a></p>
                <p class="copyright text-muted small">
                Image credits to <a href="http://www.flickr.com/photos/64577732@N00/1414883135">Thomas Williams</a>.
                </p>
                
                
            </div>
            <div class="col-md-4">
                Give Viralget a test run and contact us: <a href="till@tillcarlos.com">till@tillcarlos.com</a>
            </div>
        </div>
    </div>
</footer>
