    <!-- About Section -->
    <section id="pricing" class="container content-section text-center">
        <h2>Pricing</h2>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
              <div class="panel panel-default">
                <div class="panel-heading">Hosted Version</div>
                <div class="panel-body">
                  <p>It works like this: you tell us what you want to pay per collected email address. We'll let you know when we can serve you.</p>
                  <p>Highest offers get served first.</p>
                  <p><a href="https://goo.gl/G3WnP9" target="_blank" class="btn btn-success btn-lg"><i class="fa fa-shopping-cart fa-fw"></i> <span class="network-name">Show Me The Form</span></a></p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              
              <div class="panel panel-default">
                <div class="panel-heading">Server Licence</div>
                <div class="panel-body">
                  <p>We ship you the full code on a newly installed digital ocean server. You can go ahead and customize however you like. Permitted are campaigns for yourself, not for clients.</p>
                <p>Price: 1000 EUR (Excl. VAT).</p>
                <p><a href="mailto:till@tillcarlos.com" target="_blank" class="btn btn-success btn-lg"><i class="fa fa-shopping-cart fa-fw"></i> <span class="network-name">Request Licence</span></a></p>
                </div>
                
              </div>
              
        </div>
    </section>

