    <!-- About Section -->
    <section id="why" class="container content-section">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
              <br/><br/>
              <h2>Why Viral Campaigns?</h2>
              <p>
              </p>
              <ul>
                <li>Basically free</li>
                <li>Learn how your audience is distributed</li>
                <li>Collect a lot of email addresses</li>
              </ul>
              </div>
        </div>
    </section>
