    <!-- About Section -->
    <section id="why" class="container content-section section-why text-center">
        <div class="row">
            <div class="col-md-12">
              <h2>Why Viral Campaigns?</h2>
              </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                <i class="fa fa-fighter-jet fa-5x"></i>
                <h4>Collect a lot of email addresses</h4>
                Viral campaigns are designed to get shared a lot. If you want to collect a lot of email addresser, you are at the right place.
            </div>
            <div class="col-md-4">
                <i class="fa fa-dollar fa-5x"></i>
                <h4>Basically free</h4>
                You only pay for this software. No PPC fee, no CPM
            </div>
            <div class="col-md-4">
                <i class="fa fa-arrows-alt fa-5x"></i>
                <h4>Reach the masses</h4>
                Get email addresses from people you would not reach via ads
            </div>
        </div>
    </section>
